@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-my-full-slider-bar: hsl(174, 77%, 80%); /* Soft Cyan */
  --color-my-slider-background: hsl(174, 86%, 45%); /* Strong Cyan */
  --color-my-discount-background: hsl(14, 92%, 95%); /* Light Grayish Red */
  --color-my-discount-text: hsl(15, 100%, 70%); /* Light Red */
  --color-my-cta-text: hsl(226, 100%, 87%); /* Pale Blue */

  /* Neutral Colors */
  --color-my-pricing-background: hsl(0, 0%, 100%); /* White */
  --color-my-main-background: hsl(230, 100%, 99%); /* Very Pale Blue */
  --color-my-empty-slider-bar: hsl(224, 65%, 95%); /* Light Grayish Blue */
  --color-my-toggle-background: hsl(223, 50%, 87%); /* Light Grayish Blue */
  --color-my-text-grayish-blue: hsl(225, 20%, 60%); /* Grayish Blue */
  --color-my-text-cta-background: hsl(227, 35%, 25%); /* dark des blue */

  --shadow-myShadow: 0px 10px 20px 10px hsl(224, 65%, 95%);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
}

#slider {
  width: 100%;
  height: 0.5rem;

  appearance: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
}

#slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;

  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 50%;
  z-index: 2;
}
